.box-layout {
	background-color: black;
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	button {
		color: white;
        background-color: #1c88bf;
        border: none;
        font-size: 1.8rem;
        font-weight: 300;
        padding: $s-size;
	}
}