.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 300;
    padding: $s-size;
    line-height: 1;
    text-decoration: none;
}

.button--secondary {
    background: #888888;
}

.button--link {
    background: none;
}