.input-group {
    display: flex;
    margin-bottom: $m-size;
    flex-direction: row;
    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
        margin-bottom: $l-size;
    }
}

.input-group__item {
    margin-right: $s-size;
    @media (max-width: $mobile-breakpoint) {
        margin: 0 0 $s-size 0;
    }
}

.DateInput {
    padding-top: 4px;
    position: inherit;
    background: none;
    @media (max-width: $mobile-breakpoint) {
        padding-top: 0px;
    }
}