.text-input {
    border: 1px solid #dbdbdb;
    height: 50px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: $s-size;
}

.select {
    @extend .text-input;

}

.textarea {
    @extend .text-input;
    height: 10rem;
}