.list-header {
    display: flex;
    justify-content: space-between;
    background: $off-white;
    color: gray;
    padding: $s-size $m-size;
    border: 1px solid darken($off-white, 7%);
}

.list-body {
    margin-bottom: $l-size;
    @media (max-width: $mobile-breakpoint) {
        margin-bottom: $m-size;
    }
}

.list-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: lighten(black, 10%);
    padding: $s-size $m-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }
    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
        padding: $s-size;
        align-items: baseline;
    }
}

.list-item--message {
    @extend .list-item;
    align-items: center;
    justify-content: center;
    color: gray;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title {
    color: gray;
    font-size: 1.4rem;
    font-weight: 300;
}

.list-item__data {
    min-width: 12rem;
    text-align: right;
    margin: 0;
    padding-left: $s-size;
    @media (max-width: $mobile-breakpoint) {
        padding: 0;
        margin: $s-size 0 0 0;
        text-align: left
    }
}