.add-option {
    display: flex;
    padding: $m-size;
    input {
        flex-grow: 1;
        border: 0;
        border-bottom: 0.3rem solid darken($off-white, 10%);
        margin-right: $m-size;
        background: $light-blue;
        color: $off-white;
        padding: $s-size;
    }
}


.add-option-error {
    font-style: italic;
    color: red;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}

@media (max-width: $mobile-breakpoint) {
    .add-option {
        flex-direction: column;
        input {
            margin-right: 0;
            margin-bottom: $s-size;
        }
    }
}