.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $l-size;
    padding: 2.4rem;
    transition: margin-bottom 200ms ease-in;
}

.big-button:disabled {
    opacity: .5;
}

// Button
.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

// bem

@media (max-width: $mobile-breakpoint) {
    .big-button {
        margin-bottom: $m-size;
    }
}