.header {
    text-align: center;
    background: $off-black;
    margin-bottom: $xl-size;
    padding: $m-size 0;
    color: whitesmoke;
    transition: margin-bottom 200ms ease-in;
    h1 {
        color: red;
    }
    h2 {
        color: pink;
    }
}

// BEM block element modifier

.header__title {
    font-size: $l-size;
    margin: 0;    
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (max-width: $mobile-breakpoint) {
    .header {
        margin-bottom: $m-size;
    }
}