.option {
    border-bottom: 1px solid lighten($light-blue, 10%);
    display: flex;
    justify-content: space-between;
    color: $off-white;
    padding: $m-size;
}

.option__text {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    padding-right: $m-size;
    word-break: break-all;
}
