.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
    
    h3 {
        margin: 1rem 0;
    }
}

.widget-message {
    color: $off-white;
    text-align: center;
    margin: 0;
    padding: $l-size;
    border-bottom: 0.1rem solid lighten($light-blue, 10%);
}